# Unity generated
/Library/
/Temp/
/Logs/
/UserSettings/
/obj/
/Build/
/Build2/
/BuildMac/
/MemoryCaptures/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
/TrippinEngine-*.zip
